//
//  Appkey.xcconfig
//  Weather
//
//  Created by Jérôme Cabanis on 10/03/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Normally, for security reasons, this file should not appear in the repository
// the but it is present now to allow testing of the application

APP_ID = 3949132623f2e5405054a3bc0a4109f9
